<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Calculator Api</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<h1>Calculator App</h1>

<p>This is a web application built using Spring MVC and Thymeleaf <br>
    that adds two numbers provided as path variables in the URL and <br>
    displays the result in a user-friendly web page.</p>

<p>How to Use:<br>

    Add two numbers by appending /add/{num1}/{num2} to the URL, <br>
    where {num1} and {num2} are the numbers to add.<br>

    Example: https://champdoox-spring-render.onrender.com/add/5/7 <br>
    will calculate and display the sum of 5 and 7.</p>
</body>

</html>